
/* H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em
Colors
Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; */

/* -------------------- CSS BY NAME -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/*-------------------- CSS REST ---------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* -------------------- ROOT VARIABLES --------------------------------------- */
body {
    font-family: 'Inter', serif;
    background-color: #484FB7;
}

h1 {
    font-family: 'Kavoon', serif;
    font-size: 3em;
}

h2 {
    font-family: 'Kavoon', serif;
    font-size: 2em;
    color: #ffffff;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
}

h4 {
    font-size: 1.15em;
    padding-bottom: 8px;
}

header {
    text-align: center;
    background-color: #6B8FE7;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
    z-index: 1;
}

.sub-header {
    background-color: #D9526F;
    color: #ffffff;
    font-family: 'Kavoon', serif;
    font-weight: 100;
    padding-top: 40px;
    text-align: center;
    border-radius: 0 0 25px 25px;
    position: relative;
    margin-top: -25px;
    margin-bottom: 50px;
    width: 98%;
    margin-left: 8px;
    z-index: -1;
}

.menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
    font-size: 1.5em;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #E9BB57;
    border-radius: 4px;
    width: 25%;
}

.h2 {
    padding-left: 5%;
    margin: 0;
}

.our-services {
    padding-top: 20px;
    padding-left: 5%;
    margin: 0;
}

.one-on-one-container {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    margin-left: 5%;
}

.service-item {
    width: 75%;
    padding: 25px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 25px;
}

.why-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #D9526F;
}

.why-aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.why-aside div {
    padding: 50px 25px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#why-one {
    background-color: #4CA7C0;
    font-weight: bold;
}

#why-two {
    background-color: #484FB7;
    font-weight: bold;
}

#why-three {
    background-color: #E9BB57;
    font-weight: bold;
}

#why-four {
    background-color: #ffffff;
    font-weight: bold;
}

.pricing-container {
    padding: 15px;
    display: flexbox;
    flex-direction: row;
}

.table-heading {
    background-color: #E9BB57;
    /* justify-content: center; */
}

/* --------------------GLOBAL STYLES (mobile first/small 450px) --------------------*/
@media screen and (min-width: 450px) {
    .menu-button {
        display: block;
    }

    h1 {
        color: #ffffff;
        padding-top: 25px;
    }

    .hide {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #E9BB57;
        position: fixed;
        top: 35px;
        right: 0;
        padding-left: 0;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .menu-button {
        font-size: 1em;
        font-weight: bold;
        padding: .5em;
    }

    .menu-toggle:checked ~ nav ul {
        display: flex;
    }
}

/*-------------------- MEDIA QUERY (medium 620px) --------------------------------*/
@media screen and (min-width: 620px) {
    .service-item {
        background-color: #1E1E1E;
    }
}

/*-------------------- MEDIA QUERY (large 950px) ------------------------------------*/
@media screen and (min-width: 950px) {

}

/*-------------------- MEDIA QUERY (xl 1280px) ---------------------------------------*/
@media screen and (min-width: 1280px) {

}