
/* H1, H2
Kavoon
All other text
Inter
H1
3em
NAV H2
1.5em
H2
2em
H3
1.5em
H4
1.15em
Colors
Teal :#4CA7C0
Purple: #484FB7
Lavender: #6B8FE7
Yellow: #E9BB57; 
Pink:#D9526F;
Dark-gray:#1E1E1E; 
White:#ffffff; */

/* -------------------- CSS BY NAME -------------------------------------- */
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/*-------------------- CSS REST ---------------------------------------------------*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} 

* {
    padding: 0;
    margin: 0;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */
body {
    font-family: 'Inter', serif;
    background-color: #484FB7;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Kavoon', serif;
    font-size: 3em;
}

h2 {
    font-family: 'Kavoon', serif;
    font-size: 2em;
    color: #ffffff;
    padding-left: 5%;
    margin: 0;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
}

h4 {
    font-size: 1.15em;
    padding-bottom: 8px;
}

header {
    text-align: center;
    background-color: #6B8FE7;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
    z-index: 1;
}

ul {
    list-style-type: none;
    text-align: left;
}

.sub-header {
    background-color: #D9526F;
    color: #ffffff;
    font-family: 'Kavoon', serif;
    font-weight: 100;
    padding-top: 40px;
    text-align: center;
    border-radius: 0 0 25px 25px;
    position: relative;
    margin-top: -25px;
    margin-bottom: 50px;
    width: 98%;
    margin-left: 8px;
    z-index: -1;
}

.menu-toggle {
    display: none;
}

.menu-button {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 0.5rem 1rem;
    background-color: #E9BB57;
    border-radius: 0 0 15px 15px;
    width: 25%;
}

.our-services {
    padding-top: 20px;
    padding-left: 5%;
    margin: 0;
}

.one-on-one-container {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    /* margin-left: 5%; */
}

.service-item {
    width: 75%;
    padding: 25px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 25px;
}

.our-services h4 {
    color: #484FB7;
}

.why-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #D9526F;
}

.why-aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.why-aside div {
    padding: 50px 25px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

#why-one {
    background-color: #4CA7C0;
    font-weight: bold;
}

#why-two {
    background-color: #484FB7;
    font-weight: bold;
}

#why-three {
    background-color: #E9BB57;
    font-weight: bold;
}

#why-four {
    background-color: #ffffff;
    font-weight: bold;
}

.pricing-container {
    padding: 1rem;
}

.pricing-container h2 {
    text-align: left;
}

.pricing-container h3 {
    text-align: left;
    margin-bottom: 10px;
}

.pricing-container > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.pricing-container table {
    width: 60%;
    margin-left: 17%;
    border: 2px solid #E9BB57;
    background-color: #ffffff;
    table-layout: fixed;
    align-items: center;
}

.pricing-container th, .pricing-container td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #E9BB57;
}

.pricing-container th {
    background-color: #E9BB57;
}

.first-step {
    background-color: #D9526F;
    padding: 5px 25px;
}

.first-step button {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.2);
    width: 99%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #ffffff;
    background-color: #6B8FE7;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 0 0 25px 25px;
}

.footer-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer-item div {
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------GLOBAL STYLES (mobile first/small 450px) --------------------*/
@media screen and (min-width: 450px) {
    .menu-button {
        display: block;
    }

    h1 {
        color: #ffffff;
        padding-top: 25px;
    }

    .hide {
        display: none;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #E9BB57;
        position: fixed;
        top: 35px;
        right: 0;
        padding-left: 0;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .menu-button {
        font-size: 1em;
        font-weight: bold;
        padding: .5em;
    }

    .menu-toggle:checked ~ nav ul {
        display: flex;
    }

    .why-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        background-color: #D9526F;
    }
    
    .why-aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    .why-aside div {
    padding: 50px 25px;
    text-align: center;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

/*-------------------- MEDIA QUERY (medium 620px) --------------------------------*/
@media screen and (min-width: 620px) {
    .our-services h3 {
        margin-left: 30px;
    }

    .service-item {
        margin-bottom: 10px;
        padding: 10px;
    }

    .one-on-one-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        width: 90%;
    }

    .one-on-one-container > div:nth-child(1) {
        display: grid;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
    }

    .one-on-one-container > div:nth-child(1) .service-item:nth-child(2), .one-on-one-container > div:nth-child(1) .service-item:nth-child(3) {
        display: grid;
        grid-column: span 1;
    }

    .one-on-one-container > div:nth-child(1) .service-item:nth-child(3), .one-on-one-container > div:nth-child(1) .service-item:nth-child(4) {
        display: grid;
        grid-column: span 2;
        width: 88%;
    }

    .one-on-one-container > div:nth-child(3) {
        display: grid;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr;
    }

    .one-on-one-container > div:nth-child(4) {
        display: grid;
        grid-column: span 2;
        width: 100%;
    }

    .one-on-one-container > div:nth-child(5) {
        display: grid;
        grid-column: span 2;
        width: 100%;
        margin: 0;
        box-sizing: content-box;
    }

    .why-aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }
    
    .pricing-container {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        grid-template-rows: repeat(1, 3fr);
        box-sizing: content-box;
        
    }

    
}

/*-------------------- MEDIA QUERY (large 950px) ------------------------------------*/
@media screen and (min-width: 950px) {
    background-color: #1E1E1E;
}

/*-------------------- MEDIA QUERY (xl 1280px) ---------------------------------------*/
@media screen and (min-width: 1280px) {

}